base_dir: log/lstm/
data:
  batch_size: 200
  dataset: data/lstm/actual.csv
  test_batch_size: 1
  test_size: 0.2
  valid_size: 0.2
log_level: INFO
model:
  rnn_units: 100
  activation: relu
  input_dim: 72
  output_dim: 72
  seq_len: 7
  horizon: 1
train:
  dropout: 0
  epochs: 300
  optimizer: adadelta
  patience: 15
  loss: mse

