tensorflow
numpy
pandas
pyyaml
scipy
netcdf4
sklearn
matplotlib
wradlib==1.6.2 # for radar rainfall adjustment
# doi voi windows phai co microsoft visual C++ 14.0. Link: https://visualstudio.microsoft.com/visual-cpp-build-tools/
# MSVC v142, Windows 10 SDK 10.0.18362.0, C++ Cmake
torch